@model PresentationLayer.Models.CourseViewModel
@{
    ViewBag.Title = "SaveCourse";
}

<h1>Following Course Data Has been Saved</h1>
<div>
    <p>Department Name: @Model.Department</p>
    <p>Level: @Model.Level</p>
    <p>Course Name: @Model.Name</p>
    <p>Duration: @Model.Duration</p>
    <p>Credit: @Model.Credit</p>
    <p>Description: @Model.Description</p>
</div>