@model PresentationLayer.Models.StudentViewModel
@{
    ViewBag.Title = "SaveStudent";
}
<h1>Following student data has been saved:</h1>
<div>
    <p>Student ID: @Model.StudentID</p>
    <p>Department: @Model.Department</p>
    <p>Level: @Model.Level</p>
    <p>First Name: @Model.FirstName</p>
    <p>Middle Name: @Model.MiddleName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Contact: @Model.Contact</p>
    <p>Address: @Model.Address</p>
    <p>Citizenship ID: @Model.CitizenshipNumber</p>
    <p>DOB: @Model.DateOfBirth</p>
    <p>Gender: @Model.Gender</p>
    <p>Guardian Name: @Model.GuardianName</p>
    <p>Guardian Contact: @Model.GuardianContact</p>
    <p>Guardian Relation: @Model.GuardianRelation</p>
    <p>Admission Date: @Model.AdmissionDate</p>
</div>