@model PresentationLayer.Models.EmployeeViewModel
@{
    ViewBag.Title = "SaveEmployee";
}

<h1>Following employee data has been saved:</h1>
<div>
    <p>Department: @Model.Department</p>
    <p>First Name: @Model.FirstName</p>
    <p>Middle Name: @Model.MiddleName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Phone: @Model.Phone</p>
    <p>Address: @Model.Address</p>
    <p>Position: @Model.Position</p>
    <p>Gender: @Model.Gender</p>
    <p>Hire Date: @Model.HiredDate</p>
</div>